/****************************************
 * General
 ****************************************/

* {
	font-family: 'Oxygen', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif !important;
}

/****************************************
 * Header
 ****************************************/

header {
	color: white;
}

.navbar-brand {
	color: white !important;
}

.navbar-brand:hover {
	color: white !important;
	background-color: #be0a2f !important;
}

.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: white !important;
	background-color: #be0a2f !important;
}

/****************************************
 * Info
 ****************************************/

.info {
	padding: 60px 0;

	background: url(../img/nma/local-sign.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	box-shadow: inset 0 0 60px 5px rgba(0, 0, 0, 0.42);
}

.logo {
	height: 250px;
	width: auto;
}

.event-title {
	padding: 0 0 5px 0;
	color: #be0a2f;
	border-bottom: solid 1px #be0a2f;
}

.event-info {
	color: #444;

	background-color: white;
}

.facebook {
	padding: 20px 0;
	background-color: #be0a2f;
}

/****************************************
 * Eat. Shop. Play.
 ****************************************/

.eat-shop-play {
	padding: 40px 0;
	background-color: #be0a2f;
}

.category-esp {
	padding: 100px 0;

	color: white;
	text-align: center;
}

.category-esp > h2 {
	margin-left: auto;
	margin-right: auto;

	font-size: 5em;

	display: inline-block;

	background-color: rgba(0, 0, 0, 0.42);
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.42);
	border-radius: 50%;
}

.eat {
	background: url(../img/food-bw.png) no-repeat center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.eat:hover,
.eat:active,
.eat:focus {
	background: url(../img/food.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.shop {
	background: url(../img/shop-bw.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.shop:hover,
.shop:active,
.shop:focus {
	background: url(../img/shop.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.play {
	background: url(../img/play-bw.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

.play:hover,
.play:active,
.play:focus {
	background: url(../img/play.png) no-repeat center center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}

/****************************************
 * Category
 ****************************************/

.category {

}

.cat-title {
	padding: 0 0 5px 0;
	color: #be0a2f;
	border-bottom: solid 1px #be0a2f;
}

.subcategory-listing {
	margin: 0 0 20px 0;
	padding: 20px;
	color: white;
	text-align: center;
	background-color: #be0a2f;
}

.subcategory-listing:hover,
.subcategory-listing:active {
	color: #be0a2f;
	background-color: #fdd500;
}

.subcategory-listing > h3 {
	margin: 0;
	padding: 0;
}

.subcategory-listing-a {

}

.subcategory-listing-a:hover,
.subcategory-listing-a:active {
	color: #be0a2f;
	text-decoration: none;
}

/****************************************
 * Subcategory
 ****************************************/

.subcategory {

}

.business-listing {
	margin: 0 0 20px 0;
	padding: 20px;
	color: white;
	background-color: #be0a2f;
}

.bus-h3 {
	margin: 0;
	padding: 0;
}

.bus-info {
	color: #DDDDDD;
}

/****************************************
 * Footer
 ****************************************/

footer {
	padding: 10px 0;

	color: #be0a2f;
}

footer a {
	color: #be0a2f;
}

footer a:hover,
footer a:active {
	color: #be0a2f;
}